@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-weight: 400;
    font-size: 1rem;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}



.dropDownProfile{
    position: absolute;
    top: 5.5rem;
    right: 4rem;
    width: 10rem;
    padding: 25px;
    border: black;
    color: white;
    background: #111111;
    border-radius: 10px;
}

.dropDownProfile::before{
    content:'';
    position: absolute;
    top: -0.4rem;
    right: 1.1rem;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background: black;
    border-left:2px solid black;
    border-top: 2px solid black;
}





